* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
}

/* KATUNG HEADER */
.site-header {
  background-color: #F0E2B6;
  color: black;
  text-align: center;
  padding: 20px;
}

.nav-bar{
  display: flex;
}

.nav-bar a{
  background-color: orange;
  padding: 5px;
  font-weight: 500;
  font-size: 22px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav-bar a:hover {
  background-color: #e69500;
}

/* MAIN CONTENT */
/* LAYOUT WRAPPER */
.page-layout {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.page-layout img{
  width: 60%;
  border-radius: 12px;
}

/* SIDE BOXES */
.side-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  min-height: 500px;
  background-color: orange;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.side-box img{
  border-radius: 12px;
  width: 100%;
	height: 180px;
	object-fit: cover;
}

/* MAIN CONTENT */
.main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* IMAGE */
.image-gallery {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  
}

.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT STYLES */
.content-info {
  display: flex;
  gap: 15px;
  width: 100%;
}

.card1,
.card2 {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

.card1 {
  text-align: justify;
  line-height: 1.3;
  background-color: #e0f7fa;
}

.card2 {
  background-color: #e8f5e9;
}

.card2 ul {
  margin-top: 10px;
  padding-left: 20px;
}

.card2 li {
  margin-bottom: 8px;
}


.footer {
  margin-top: 20px;
  background: orange;
  color: white;
  text-align: center;
  padding: 15px;
}


@media (max-width: 768px) {
  .image-gallery,
  .content-info {
    width: 100%;
  }

  .image-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-gallery img{
    width: 100%;
  }

  .page-layout {
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }

  .page-layout img{
    width: 100%;
  }

  .side-box,
  .main-content {
    width: 100%;
  }

  .main-content{
    flex-direction: column;
  }

  .content-info {
    flex-direction: column;
  }

  .nav-bar{
    flex-direction: column;
  }
}
