* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inig click sa button kay smooth ang scrolling transition */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f2f2f2;
}

/*HEADER PART*/
.header-page {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
    padding: 8px 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    z-index: 2;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-page img {
    width: 60px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    font-weight: 500;
    font-size: 22px;
    border-radius: 12px;
    padding: 8px 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: green;
}


.heropic {
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.heropic img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
    animation: zoomIn 12s ease-in-out infinite alternate;
}

/*para sa katung choy nga zoom in epek credit kang louie kay choy iya hero img*/
@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}



.hero-content {
    z-index: 3;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: clamp(32px, 6vw, 60px);
}

.hero-content p {
    margin: 10px 0 20px;
}

.btn {
    padding: 12px 26px;
    background: orange;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #c92f3a;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-part {
    margin-top: 120px;
    max-width: 900px;
    padding: 40px;
    text-align: center;
}

.about-part h1 {
    color: orange;
    margin-bottom: 20px;
}

.about-part p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 18px;
    text-align: justify;
}

.tourist-spots{
    margin-bottom: 24px;
    width: 80%;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.tourist-spots h1{
    color: orange;
    margin-bottom: 15px;
}

.spots-gallery{ 
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
	max-width: 1500px;
	gap: 15px;
}

.gallery-item{
    margin-bottom: 12px;
    background: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	transition: 0.3s;
}

.gallery-item:hover{
	transform: translateY(-5px);
}

.gallery-item img{
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.desc{
	background: orange;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}


.footer-page {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 20px;
}

.content-card {
    z-index: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 25px;
    width: 900px;
    max-width: 80%;
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.content-card a{
    text-decoration: none;
    display: flex;
    gap: 20px
}

.content-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}


.content-card img {
    width: 300px;
    height: 200px;
    object-fit: fill;
    border-radius: 12px;
}

.content-info h2 {
    color: orange;
    margin-bottom: 10px;
}

.content-info p {
    color: #444;
    line-height: 1.6;
    font-size: 16px;
}


@media(max-width:768px){
	.header-page{
        display: flex;
        flex-direction: column;
        z-index: 4;
        
    }
    .content-card{
        justify-content: center;
        align-items: center;
    }

    .content-card h2{
        text-align: center;
    }
    
    .content-card a{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .content-card img{
        min-width: 80%;
    }

    .nav-links{
        gap: 50px;
    }
    .nav-links a{
        font-size: 24px;
    }

}
